apiVersion: v2beta1
kind: AgentConfig
metadata:
  name: {{ ocp_name }}
additionalNTPSources: {{ ocp_ntp_sources }}
bootArtifactsBaseURL: {{ ocp_pxe_endpoint }}
rendezvousIP: {{ ocp_rendezvousIP }}
hosts:{% for node in nodes %}
  - hostname: {{ node.hostname }}
    role: {{ node.role | default('master') }}
    rootDeviceHints:
      deviceName: {{ node.diskDeviceName }}
    interfaces:
      - name: eno1
        macAddress: {{node.mac}}
    networkConfig:
      interfaces:
        - name: eno1
          type: ethernet
          state: up
          mac-address: {{node.mac}}
          ipv4:
            enabled: true
            dhcp: true
          ipv6:
            enabled: false
      dns-resolver:
        config:
          server:
            - {{dns}}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{gw}}
            next-hop-interface: eno1
            table-id: 254
{% endfor %}
